/LAB1/target/
/neighborhood/target/
/LAB2/target/
/LAB3/target/
/Bank/target/
/DemoGenerics/target/
/LAB4/target/
/Layout/target/
/LAB5/target/
/AssignmentForm1/target/
/LAB5 2/target/
/ProjectOOP/target/
/LAB6/target/
/LAB61/target/
/LAB7/target/
/CK/target/
/CK2/target/
/CK5/target/
/CK3/target/
/CK4/target/
/ACK1/target/
/CK1bbb/target/
/ACK2/target/
/ACK3/target/
/ACK4/target/
/ACK5/target/
/LAB2-2/target/
